Django==1.11.28
Pillow==2.3.0
SecretStorage==2.0.0
argparse==1.2.1
colorama==0.2.5
configobj==4.7.2
decorator==3.4.0
dj-static==0.0.6
gunicorn==19.6.0
html5lib==0.999
httplib2==0.8
ipython==1.2.1
keyring==3.5
lazr.uri==1.0.3
lockfile==0.8
lpthw.web==1.1
mercurial==2.8.2
numpy==1.8.2
oauth==1.0.1
paramiko==1.10.1
pexpect==3.1
pycrypto==2.6.1
pyparsing==2.0.1
python-dateutil==1.5
pytz==2012c
requests==2.2.1
simplejson==3.3.1
twitter==1.12.1
urllib3==1.7.1
virtualenv==1.11.4
virtualenv-clone==0.2.4
virtualenvwrapper==4.1.1
whitenoise==3.2.2

